@import '../../../assets/variables.scss';

.review-form {
  &__description {
    margin: .7rem 0 2rem;
    border-color: $green-grey;
    height: 10rem;
    font-size: 1rem;
    width: 100%;

    &-label {
      margin-top: 2rem;
    }

    &:hover {
      border-color: $pink;
    }
  }

  &__button {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;

    &--space-between {
      justify-content: space-between;
    }
  }

  &__error {
    color: red;
    padding-top: 1rem;
  }
}
