$dark-navy: #282842;
$white: #FFFFFF;

$light-grey: #DCE5EE;
$green-grey: #B2CED5;
$grey: #9598A4;

$pink: #F4909B;
$pink-purple: #C4ACFD;
$purple: #A9A4FD;

$light-mint: #D7E9EF;
$blue-mint: #96D1E2;
$mint: #62C5D0;
